@media (min-width: $tablet-width) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
  }

  .photo-list__item {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .photo-list__item {
    width: 400px;
  }
}
